$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lakes Medium';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lakes Bold';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lakes Medium', sans-serif;
  box-sizing: border-box;
  word-wrap: normal;
}

@import './header/header-mobile.scss';
@import './header/header-tablet.scss';
@import './header/header-desktop.scss';
@import './main/main-mobile.scss';
@import './main/main-tablet.scss';
@import './main/main-desktop.scss';
@import './main/feedback-modal.scss';
@import './main/call-modal.scss';
